<article class="md-content__inner md-typeset">
    <a href="https://github.com/{{.Site.Params.repo_name}}/edit/master/content/{{$.Page.File.Path}}" title="" class="md-icon md-content__icon">&#xE3C9;</a>
    <h1>{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
    {{ (replace .Content "<div class=\"highlight\"" "<div class=\"codehilite\"") | safeHTML }} 
    <h2 id="__source">source</h2>
    <a href="https://github.com/{{.Site.Params.repo_name}}/blob/master/content/{{$.Page.File.Path}}" title="github source file" class="md-source-file">  {{$.Page.File.LogicalName}}  </a> 
    <a href="https://github.com/{{.Site.Params.repo_name}}/edit/master/content/{{$.Page.File.Path}}" title="github source file" class="md-source-file">editor source file  </a> 
   
    <h2 id="__comments">comments</h2>
</article>